<div layout="row" flex class="background-image" layout-align="center center">
    <div class="md-whiteframe-z4" flex-gt-md="35">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>AngularJS-D3 Directives by sajeetharan</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-card>
                <md-card-content layout="row">
                    <md-input-container flex>
                        <label></label>
                    
                    </md-input-container>
                    <md-button class="md-fab" ui-sref="app.about">
                        <md-icon aria-label="Search"
                                 md-font-icon="fa fa-search fa-lg">
                        </md-icon>
                    </md-button>
                </md-card-content>
            </md-card>
        </md-content>
    </div>

</div>
